{
  "appid": "__UNI__850911F",
  "platform": "android",
  "version": "4.6",
  "versionCode": 460,
  "wgtUrl": "https://frp.lcxqy.cn/app-updates/lcxqy-4.6.wgt",
  "description": "本次更新说明。",
  "force": false
}
